.cache
.git
.husky
.yarn
*/dist/
**/__snapshots__
**/node_modules
coverage
dist/
.pnp.cjs
.pnp.loader.mjs
**/dist
**/generated.ts
**/web-app
**/build
**/api/src/ui
**/.plasmo
**/desktop-app/out
**/desktop-app/src/ui
**/.bi-api
**/*.html
**/forkRepos
