.seek-bot-status-dot .ant-badge-status-dot {
  width: 10px !important;
  height: 10px !important;
}

.browser-extension .ant-collapse-header {
  padding-left: 0px !important;
  padding-bottom: 0px !important;
}

.browser-extension .ant-collapse-content-box {
  padding-top: 0px !important;
}

.browser-extension .ant-collapse-content-box ul {
  padding-left: 0px !important;
}
