#plasmo-shadow-container {
  opacity: 0.7;
}

#plasmo-shadow-container:hover {
  opacity: 1;
}

#plasmo-shadow-container:hover .bitsky-notification-notice-close {
  display: inline-block;
}

.bitsky-root-container {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.bitsky-notification {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.bitsky-notification .bitsky-notification-notice {
  position: relative;
  max-width: calc(100vw - 48px);
  padding: 10px;
  overflow: hidden;
  line-height: 1.5714285714285714;
  word-wrap: break-word;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.bitsky-notification
  .bitsky-notification-notice
  .bitsky-notification-notice-content {
  box-sizing: border-box;
}

.bitsky-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bitsky-notification-notice-title {
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
}

.bitsky-notification-notice-close {
  display: none;
  color: rgba(0, 0, 0, 0.45);
  outline: none;
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: 2px;
  text-align: center;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}

.bitsky-notification-notice-close:hover {
  color: rgba(0, 0, 0, 0.88);
  background-color: rgba(0, 0, 0, 0.06);
}

.bitsky-alert-logo {
  width: 22px;
  height: 22px;
  margin-right: 2px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bitsky-alert-success {
  background-color: #f6ffed;
  border-color: #b7eb8f;
}

.bitsky-loader {
  width: 22px;
  height: 22px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.bitsky-loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #ff3d00 transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
